
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <!-- footer part start-->
    <footer class="footer-area" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-md-4 col-lg-4">
                    <div class="single-footer-widget footer_1">
                        <h4>About Us</h4>
                        <p>Support website platform and mobile application, order delivery food for companies and businesses</p>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-md-4 col-lg-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Important Link</h4>
                        <div class="contact_info">
                            <ul>                               
                                <li><a href="#">My Account</a></li>
                                <li><a href="/cart/list">My Cart</a></li>
                                <li><a href="/menu">Menu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-md-4 col-lg-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span>590 Cach Mang Thang 8, Ward 11, District 3, HCMC</p>
                            <p><span> Phone :</span> +2 36 265 (8060)</p>
                            <p><span> Email : </span>eatneat@gmail.com </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="copyright_part_text">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>                   
                </div>
            </div>
        </div>
    </footer>
         <!-- jquery plugins here-->
    <div th:fragment="script">
        <!-- jquery -->
    <script src="../template/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="../template/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="../template/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="../template/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="../template/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="../template/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="../template/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="../template/js/slick.min.js"></script>
    <script src="../template/js/gijgo.min.js"></script>
    <script src="../template/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="../template/js/custom.js"></script>
    </div>
    </body>
</html>
