<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/head_header::head"></head>
    <body>
        <header th:replace="layout/head_header::header"></header>
        <br/><br/><br/><br/>
        <style>
            @media (min-width: 1025px) {
                .h-custom {
                    height: 100vh !important;
                }
            }

            .card-registration .select-input.form-control[readonly]:not([disabled]) {
                font-size: 1rem;
                line-height: 2.15;
                padding-left: .75em;
                padding-right: .75em;
            }

            .card-registration .select-arrow {
                top: 13px;
            }

            .bg-grey {
                background-color: #eae8e8;
            }

            @media (min-width: 992px) {
                .card-registration-2 .bg-grey {
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }

            @media (max-width: 991px) {
                .card-registration-2 .bg-grey {
                    border-bottom-left-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }
        </style>
        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner text-center">
                            <div class="breadcrumb_iner_item">
                                <h2>My Cart</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-5">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    
                                    <div class="col-lg-8">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${message}">
                                                    <h3 style="color: red" th:text="${message}"></h3>              
                                        </div>
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-5">
                                                <h1 class="fw-bold mb-0 text-black">Food Cart</h1>
                                                
                                            </div>
                                            <hr class="my-4">

                                            <div class="row mb-4 d-flex justify-content-between align-items-center" th:each="item:${session.cart}">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img th:src="@{${item.food.getImagePath}}" class="img-fluid rounded-3"/>                            
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h4 class="text-muted" th:text="${item.getName()}"></h4>                            
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <form action="/cart/update" method="Post">
                                                        <div class="d-flex">                              
                                                            <input type="hidden" th:value="${item.food.getFoodid()}" name="foodid"/>                                                                       
                                                            <button class="btn btn-link px-2"
                                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="submit" >
                                                                <i class="fas fa-minus" ></i>
                                                            </button>

                                                            <input id="quantity" name="quantity" th:value="${item.getQuantity()}" type="number" readonly="redonly"
                                                                   class="form-control form-control-sm" />

                                                            <button class="btn btn-link px-2"
                                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="submit">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </form>                          
                                                </div>


                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h4 class="mb-0" th:text="${item.getPrice()}"></h4>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a th:href="@{/cart/remove/{foodid}(foodid=${item.food.getFoodid()})}"><i class="fas fa-times"></i></a>
                                                </div>
                                                <hr class="my-4">
                                            </div>

                                            <div class="pt-5">
                                                <div th:align="left">
                                                    <a href="/menuSet" class="text-body"><i
                                                            class="fas fa-long-arrow-alt-left me-2"></i> Back to Set Menu</a>
                                                    or <a href="/menuOption" class="text-body">  Back to Option Menu</a>        
                                                </div>
                                                <div th:align="right">
                                                    <a class="btn btn-primary btn-sm" href="/cart/clear">Clear List</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey">
                                        <div class="p-5">
                                            <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase">Quantity</h5>
                                                <h5 th:text="${count}"></h5>
                                            </div>



                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">Total price</h5>
                                                <h4 ><span th:text="${total}"></span> VND</h4>
                                            </div>

                                            <a class="btn btn-dark btn-block btn-lg"
                                               data-mdb-ripple-color="dark" href="/cart/order">Order</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        

        <!-- footer part start-->
        <footer th:replace="layout/footer_script::footer"/>
        <!-- footer part end-->
        <div th:replace="layout/footer_script::script"/>

    </body>

</html>