<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/head_header::head"></head>
    <body>
        <header th:replace="layout/head_header::header"></header>
        <br/><br/><br/><br/>
        <!-- breadcrumb start-->
        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner text-center">
                            <div class="breadcrumb_iner_item">
                                <h2>Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="d-none d-sm-block col-lg-6" style="margin-left: 10%">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.2773997461!2d106.66627429999997!3d10.
                                7868348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2ecb62e0d050fe9!2zRlBUIEFwdGVjaCBIQ00gLSBI4buHIFRo4b
                                uRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1svi!2s!4v165942
                                1730081!5m2!1svi!2s" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-lg-3 breadcrumb_iner_item" style="background-color: whitesmoke;height: 50%;">
                        <div class="media contact-info " style="margin-top: 10%;">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body" >
                                <h3>District 3, HCMC</h3>
                                <p>590 Cach Mang Thang 8, Ward 11</p>
                            </div>
                        </div>
                        <div class="media contact-info" style="margin-top: 10%">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>00 (440) 9865 562</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info" style="margin-top: 10%">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>eatneat@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section>

        <!-- footer part start-->
        <footer th:replace="layout/footer_script::footer"/>
        <!-- footer part end-->
        <div th:replace="layout/footer_script::script"/>
    </body>

</html>