<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head_header::head"></head>
<body>
    <header th:replace="layout/head_header::header"></header>
    <br/><br/><br/><br/>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Food Menu</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--::chefs_part start::-->
    <!-- food_menu start-->
    <section class="food_menu gray_bg">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="section_tittle">                       
                        <h2>Food Menu</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <br/>
                    <div class="nav nav-tabs food_menu_nav row" id="myTab" role="tablist">
                    
                        <div th:each="item:${type}">              
                            <a  th:href="@{/menu}+${cat}+'/'+${item.getMenutypeid()}" role="tab">
                                <span th:text="${item.getType()}"></span></a>
                        </div>                      
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active single-member" id="Special" role="tabpanel"
                            aria-labelledby="Special-tab">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6"  th:each="e:${LIST}">
                                    <div class="single_food_item media">                                       
                                        <img th:src="@{${e.getImagePath()}}" class="mr-3" alt="..." width="200">
                                        <div class="media-body align-self-center">
                                            <h3 th:text="${e.getFoodname()}"></h3>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h5 ><span th:text="${e.getPrice()}"></span>VND</h5>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${message}">
                                                    <h3 style="color: red" th:text="${message}"></h3>              
                                                    </div>
                                                    <a th:href="@{/favor/add/{foodid}(foodid=${e.getFoodid()})}"><i class='fas fa-heart' style='font-size:36px;color:orangered'></i></a>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;                                                
                                                    <a th:href="@{/cart/add/{foodid}(foodid=${e.getFoodid()})}"><i class="fa fa-shopping-cart" style="font-size:36px;color:green"></i></a>
                                                </div>
                                            </div>                     
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- food_menu part end-->
    <!--::chefs_part end::-->


     <!-- footer part start-->
    <footer th:replace="layout/footer_script::footer"/>
    <!-- footer part end-->
    <div th:replace="layout/footer_script::script"/>
</body>

</html>